<!--<app-loader *ngIf="isLoading"></app-loader>-->

<section class="consent-table-wrapper">
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email:</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="agreeType">
        <mat-header-cell *matHeaderCellDef> Consent given for:</mat-header-cell>
        <mat-cell *matCellDef="let element">{{getAgreeTypeString(element.agreeType)}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="consentDatabase.data.length"
                   [pageIndex]="0"
                   [pageSize]="2"
                   [pageSizeOptions]="[2]">
    </mat-paginator>
  </div>
</section>
