form {
    flex-direction: column;
    display: flex;
    max-width:  400px;
    margin-left: 240px;

    .error-message {
        color: #f44336;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.input-group {
    display: flex;

    .form-item:first-child {
        margin-right: 15px;
    }
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}