<form [formGroup]="consentForm" (ngSubmit)="onSubmit(consentForm.value)" novalidate>

  <div class="input-group">
    <div class="form-item">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <p class="error-message" *ngIf="consentForm.get('name').invalid
         && (submitted || consentForm.get('name').dirty)">
        Please enter name
      </p>
    </div>

    <div class="form-item">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
      <p class="error-message" *ngIf="consentForm.get('email').invalid
         && (submitted || consentForm.get('email').dirty)">
        Please enter valid email
      </p>
    </div>
  </div>

  <div class="checkbox-group">
    <div *ngFor="let agree of agreeType.controls; let i=index">
      <mat-checkbox [formControl]="agree">
        {{consent.agreeType[i].name}}
      </mat-checkbox>
    </div>
    <p class="error-message" *ngIf="consentForm.get('agreeType').invalid
        && (submitted || consentForm.get('agreeType').dirty)">
        Please enter at least one item
    </p>
  </div>

  <button mat-raised-button color="primary"
          type="submit"
          class="submit-btn"
          [disabled]="consentForm.get('agreeType').invalid">
    Give consent
  </button>
</form>
