<div class="consents-wrapper">
  <nav mat-tab-nav-bar>
    <div class="nav-wrapper">
      <a mat-tab-link
         routerLink="/give-consent"
         routerLinkActive="active-link">

        Give consent
      </a>

      <a mat-tab-link
         routerLink="/collected-consents"
         routerLinkActive="active-link">

        Collected consents
      </a>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
