.consents-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-wrapper {
  padding-top: 30px;
  min-width: 240px;
  display: flex;
  flex-direction: column;

  .link-item {
    font-size: 18px;
  }

  .active-link {
    outline: 0;
    opacity: 1;
    background-color: rgba(197,202,233,.3);
    border-bottom: 2px solid #3f51b5;
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  display: flex;
}
