/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/styles/loader-spinner.css';

html,
body,
.root-wrapper  {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #fafafa;
}

app-collected-consents {
    width: 100%;
}